# Ignore __pycache__ directories
__pycache__/
website/__pycache__/
website/api/__pycache__/
website/api/v1/__pycache__/
website/api/v1/views/__pycache__/
website/models/__pycache__/
*.swp


# Ignore Python bytecode files
*.pyc
*.pyo
*.pyd

# Ignore migration files and folders
migrations/
alembic/
*.db

# Ignore . file
.env
.bashrc
.vscode

env
activate
portfolio
event_navigator.sock

