{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block content %}
<!-- About Section -->
<section id="about" class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2>About EventNavigator</h2>
        <p>
          EventNavigator was inspired by my personal experience of struggling to find relevant local events. Whether it's seminars, meetups, or festivals, I often missed out on them simply because there wasn't an easy way to discover them in one place. This project grew from that frustration and the desire to create a centralized platform where people can effortlessly discover and navigate their way to the best events around them.
        </p>
        <p>
          This project has been a journey, beginning in 08/15/2024. As part of my software engineering training at Holberton School, EventNavigator serves as my portfolio project, showcasing the skills and tools I've learned along the way. The platform combines web development, database management, and dynamic content handling to offer a user-friendly experience.
        </p>
        <p>
          Feel free to explore and reach out if you'd like to collaborate or learn more about the project!
        </p>
        <p>Check out the project repository on GitHub: 
          <a href="https://github.com/Bbt3-alx/EventNavigator" target="_blank">EventNavigator Repository</a>
        </p>
  
        <h3>Meet the Team</h3>
        <div class="team-links">
          <div class="team-member">
            <p><strong>BREHYMA TRAORE</strong></p>
            <a href="https://linkedin.com/in/brehyma-traore-7a0454186" target="_blank">LinkedIn</a> |
            <a href="https://github.com/Bbt3-alx" target="_blank">GitHub</a> |
            <a href="https://twitter.com/BrehymaTraore" target="_blank">Twitter</a>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}