{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container d-flex justify-content-center">
  <div class="card border-secondary mb-3" style="max-width: 100%; min-height: 250px;">
    <div class="row g-0">
      <div class="col-md-4">
        {% if event.event_image != None %}
        <img src="{{ event.event_image if event.event_image.startswith('http') else url_for('static', filename='uploads/' + event.event_image) or url_for('static', filename='images/seminaire1.jpg') }}" class="card-img-top" alt="event_image">
        {% else %}
        <img src="{{ url_for('static', filename='images/seminaire1.jpg') }}" class="card-img-top" alt="event_image">
        {% endif %}
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ event.title }}</h5>
          <p class="card-text">{{ event.description }}</p>
          <p class="card-text">Date : {{ event.date }}</p>
          <p class="card-text">Category: {{ category.category_name }}</p>
          <p class="card-text"><small class="text-body-secondary">Last update {{ event.updated_at }} </small></p>
          <h6 class="card-text"><small class="text-body-primary">Posted by {{ created_by }} </small></h6>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}